################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZzaDashboard/Zza.Data/obj/Debug
